@*@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>*@
@section Head{
    <style type="text/css">
        .results {
          margin: 10px 0;
          padding: 10px;
        }
        .results .k-widget {
          border-style: none;
        }
        .results {
          margin-left: 0px !important;
        }
        .result > :first-child {
          float: left;
          margin-right: 10px;
        }
        .poster {
          width: 100px;
          height: 149px;
        }
        .details {
          margin-left: 110px;
        }
    </style>
}

<div class="row">
    <div class="span4">
        <h3>Search</h3>
        <div class="form-search">
            <div class="input-prepend">
                <button data-bind="click: search" class="btn">Search</button>
                <input type="text" required data-bind="value: term" class="span2 search-query" name="term">
            </div>
        </div>
    </div>
    <div class="span8">
        <h3 data-bind="html: title"></h3>
        <div id="results" data-bind="visible: hasResults">
            <div data-role="pager" data-bind="source: results" id="pager" data-auto-bind="false"></div>
            <div class="results row" data-selectable="true" data-pager="pager" data-auto-bind="false" data-scrolling="virtual" data-role="listview" data-bind="source: results" data-template="template"></div>
            <div data-role="pager" data-bind="source: results" id="pager" data-auto-bind="false"></div>  
        </div>
        <div id="empty" data-bind="invisible: hasResults">
            <p>No results...</p>
        </div>
    </div>
</div>
@section Script{
    <script type="text/x-kendo-template" id="template">
          <div class="result">
            <div>
              <img class="poster" src="#: posters.original #" />
            </div>
            <div class="details row">
              <p class="title">#: title #</p>
              <p>
                # $.each(data.abridged_cast, function(index, item) { #
                  # if (index < data.abridged_cast.length - 1) { #
                    #:this.name#,
                  # } else { #
                    #:this.name#
                  # } #
                # }); #
              </p>
              # if (data.synopsis.length > 0) { #
                <p class="synopsis"><b>Synopsis: </b>#: synopsis #
              # } #
            </div>
          </div>
          <hr/>
        </script>  
    <script src="/Scripts/Custom.js" type="text/javascript"></script>
}